*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;

}
body{
    text-align: center;
    font-family: sans-serif;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background-color: rgb(255, 145, 0);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.navbar a {
    display: block;
    padding: 23px 23px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background-color: rgb(255, 174, 69);

}

.logo {
    text-decoration: none;
    justify-content:center;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 30px;

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 60vh !important;
    background:url(media/puesto.jpeg) no-repeat center;
    background-size: cover;
}
.title {
    margin-bottom: 40px;
    font-size: 250%;
    font-weight: 600;
    text-transform: uppercase;
    color : white;
}
.p {
    margin-bottom: 40px;
    font-size: 18px;
    color: white;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid rgb(151, 255, 99);
    text-decoration: none;
    background: #dba800;
}
.btn:hover {
    background: none;
}
.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

